/**CSS Document
 * Curso: HMTL5 - Pildoras Informáticas - API DRAG&DROP I
 * Origin: Video39.html ==> Drag&Drop I con dragstart, dragend y drag
 */

#caja-imagen {
    border: 1px solid #F00;
    left: 0;
    margin: 30px;
    width: 300px;

}

#zona-destino {
    border: 1px solid #00F;
    height: 400px;
    left: 0;
    margin: 100px;
    width: 550px;
}
